:root {
  font: 16px / 1 sans-serif
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background-color: aqua;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
}

header h1 {
  margin: 0;
  padding: 0;
  font-size: 3rem;
  color: coral;
}

section { /*This alone makes everything symmetrical layout */
  display: flex;
  justify-content: space-around;
}

div {
  /*???????????*/
  display: flex;
  justify-content: space-around;
}

.score-board {
  padding-top: 1.5rem;
  font-family: cursive;
  font-size: 50px;
  font-weight: 1000;

}

.player1 {
  padding-left: 10rem;
}

.player2 {
  padding-right: 10rem;
}

article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


